
* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body, main {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
}

.col {
    display: flex;
    flex-direction: column;
}

main {
    justify-content: flex-start;
    padding: 0 8vw 8vmin;
    align-items: center;
    background-image:
        radial-gradient(white 0%, dodgerblue 100%);
}

.image-container {
    width: 90%;
    max-width: 600px;
    height: 25%;
    text-align: center;
    background: url('Trump-Twitter-header.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 2vh 0;
    border-radius: 15px;
}

.top-button, .bottom-button {
    min-height: 9vmin;
    height: 20%;
    max-height: 15vmin;
    width: 100%;
    border-radius: 15px;
    border: 5px solid white;
    background: rgba(244, 244, 244, 0.4);
    font-size: 4.5vmin;
    font-weight: 300;
    cursor: pointer;
    padding: 0;
    color: rgb(0, 100, 200);
    margin: 0 0 1vh 0;
    line-height: 1em;
}

select {
    margin: 0 auto .3%;
    min-height: 8vmin;
    height: 18%;
    max-height: 11vmin;
    width: 40%;
    max-width: 40vw;
    border-radius: 7px;
    border: 5px solid white;
    font-size: 2.5vmin;
    font-weight: 300;
    background: rgba(28, 161, 243, 0);
    color: rgb(0, 100, 200);
    padding: 0 0 0 1%;
    cursor: pointer;
    text-align: center;
    text-align-last: center; 
}

option {
    color: black;
    font-size: 4vmin;
}

section {
    text-align: center;
    margin: 0;
    height: 60vh;
}

.hidden {
    display: none;
}

#home-page {
    justify-content: flex-start;
}

#home-page p {
    margin: 0 1% 0;
    text-align: start;
    font-size: 3.7vmin;
    font-weight: 450;
    color: rgb(0, 100, 200);
}

#tweet-page {
    justify-content: space-between;
    width: 100%;
}

.tweet-display {
    text-align: center;
    min-height: 15vh;
    height: 65%;
    border: 5px solid white;
    justify-content: center;
    padding: 1%;
    border-radius: 15px;
    font-size: 3.3vmin;
    color: rgb(0, 100, 200);
    font-weight: 500;
}

footer {
    position: fixed;
    bottom: 0;
    height: 8vmin;
    width: 100%;
    justify-content: space-around;
    padding: .4% 1%;
    font-size: 4vmin;
    color: white;
    white-space: nowrap;
    border-top: 1.5px solid white;
}

a {
    margin: 0 2%;
    height: 60%;
}

a:hover {
    transform: scale(1.2) perspective(.5px)
}

a:link, a:visited {
    color: white;
    text-decoration: none;
}

select, button, a {
    transition: all .3s ease;
    transform: scale(1);
}

select:hover, button:hover, :focus {
    cursor: pointer;
    text-shadow: 0px 0px 16px dodgerblue;
}

a:focus {
    outline: none;
    text-shadow: 0 0 2px white, 0 0 6px white, 0 0 4px white;
}

.translate-container, .get-tweet-container {
    flex: 1;
}

.translate-container {
    margin-top: 1%;
}



@media only screen and (min-width: 420px) {
    #home-page p {
        font-size: 3.5vmin;
    }

    .bottom-button, .top-button {
        font-size: 4.5vmin;
    }
}

@media only screen and (min-width: 720px) {    
    #home-page p {
        font-size: 3.7vmin;
    }

    .tweet-display {
        font-size: 3vmin;
        height: 10vh;
    }
}

@media only screen and (min-width: 1000px) {
    .top-button, .bottom-button {
        font-size: 4vmin;
    }

    section {
        max-width: 1000px;
    }
 
    footer {
        justify-content: space-evenly;
    }

    #home-page p {
        font-size: 3.5vmin;
    }
}
